<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Form Pegawai</h2>
      <hr/>
      <label for="nama">Nama</label>
      <input type="text" class="form-control" [(ngModel)]="nama">

      <label for="nip">Nip</label>
      <input type="text" class="form-control" [(ngModel)]="nip">

      <label for="alamat">Alamat</label>
      <input type="text" class="form-control" [(ngModel)]="alamat">

      <label for="jk">JK</label>
      <input type="text" class="form-control" [(ngModel)]="jk">

    <br/>
    <button class="btn btn-primary" (click)="tambahPegawai()">Tambah</button>
    </div>
  </div>    
  <div class="row" *ngFor="let pegawai of daftarPegawai">
      <div class="col-md-12">
        <h2>{{pegawai.nama}}</h2>
        <h3>{{pegawai.nip}}</h3>
        <p>{{pegawai.alamat}}</p>
        <p>{{pegawai.jk}}</p>
      </div>
    </div>
</div>